/*----------Reset Styles----------*/

* {
    box-sizing: border-box;
}
html,body{
    margin:0;
    width: 100%;
    overflow-x: hidden;
}

/*-----Imports------------*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


/*-----Common use classes-------*/
.uppercase{
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
 
}
.text-center{
    text-align: center;
}
.bg-blue{
    background-color: #0F2531;
}

.current-page{
    color: #FAA72F !important;
}
.yellow-button{
    margin: 10px auto;
    padding: 20px 40px;
    border: 1px solid #FAA72F;
    color: white;
    background-color:#FAA72F;
    border-radius: 10px;
}
.yellow-header{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    color: #FAA72F;
}
.black-header{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}
.white-header{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    color: white;
}
.text-block{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}
.side-img{
    padding: 10%;
    max-width: 100%;
    height: auto;
}
#navbar-logo{
    color: #FAA72F;
    font-family: 'Pacifico', cursive;
    font-style: italic;
}
.fadeout{
    opacity: 0;
    transition: 5s opacity;
}
.fadein{
    opacity: 1;
    transition: 2s opacity;
}
/*------Background------------*/
body{
    background-color: #E5E5E5;
 
}

/*------------ Hero Section ----------------*/
#hero-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    align-items: center;
    justify-content: center;
}
#hero-img{
    width: 100%;
    height: 100vh;
    background: url(../img/hero-img.png);
    background-position: center center;
    background-size: cover; 
}
#hero-cta{
    text-align: left;
    padding: 10%;
    font-family: 'Playfair Display', serif;
}
/*------------ About Us section ------------*/
#about-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    align-items: center;
    justify-content: center;
}
#about-text{
    padding: 10%;
}
/*------------ Our Services Section---------*/
.service-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    align-items: center;
    justify-content: center;
}
#service-header{
    padding-right: 10%;
    text-align: right;
}
.service-text{
    padding: 10%;
}
/*------------ Customer Stories Section -----------*/
#customer-stories{
    
    width: 100%;
    height:auto;
    background: url(../img/story-bg.png);
    background-position: center ;
    background-size: cover; 
    background-repeat: no-repeat;
    
}
#cs-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,500px));
    padding: 5%;
    justify-content: center;
    align-content: initial;
   
    
}
#cs-testimonial{
    padding-left: 50px;
    position: relative;
}
#cs-testimonial::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    top:12px;
    right:80px;
    background-color: #FAA72F;
    height: 4px;
    width: 40px;
}
#cs-img{
    border-radius: 200px;
}
#cs-img-text{
    display: inline-flex;
}
#cs-name{
    padding:10px;
}    
/*------------ Contact Us Setion------------*/
#cu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,500px));
    align-content: center;
    justify-content: space-around;
    padding-top: 5%;
}
#date{
    margin-top: 20px;
}
/*------------- Footer Section -------------*/
#footer-section{
   background: #000000;
   color: white;
   margin-top: 5%;
   padding-top: 5%;
   
}
.footer-list{
    list-style: none;
    padding-inline-start: 0;
}
.social-list{
    padding-inline-start: 0;
}
.social-list li{
    
    list-style: none;
    display: inline;
    padding: 10px 10px 10px 0;
}
.footer-link{
   
    text-decoration: none;
    color: white;
    padding: 0;
}
.list-inline li{
    display: inline;
    padding: 10px 10px 10px 0;
}
/*------------ Media Queries ---------------*/
@media screen and (max-width: 768px) {
#wwd-text{
    order: 1;
}
#wwd-image{
    order: 2;
}

}
    @media screen and (max-width: 540px) {
        #reach-out{
            padding: 5%;
        }

        #cs-header-grid, #cs-details-grid, #cs-img-text, #contact, #hero-section{
            padding: 30px;
        }
        #about-text{
            padding: 12%;
        }
        .service-text{
            padding: 12%;
        }
        #hero-cta{
            padding: 12%;
        }
}
@media screen and (min-width: 995px) and (max-width: 1240px){
    #cs-header-grid{
        padding-left: 15%;
    }
    #customer-stories{
    
        width: 92%;
        height:auto;
        background: url(../img/story-bg.png);
        background-position: center ;
        background-size: cover; 
        background-repeat: no-repeat;
        
    }
}
@media screen and (min-width: 995px){
 
    #customer-stories{
    
        width: 92%;
        height:auto;
        background: url(../img/story-bg.png);
        background-position: center ;
        background-size: cover; 
        background-repeat: no-repeat;
        
    }
}
@media screen and (min-width: 992px){
    #main-nav{
        padding-left: 5%;
        padding-right: 5%;
    }
}